<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>759447536480-mg6m05mtfro2s61qo3739ndk6leve9nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759447536480-mg6m05mtfro2s61qo3739ndk6leve9nl</string>
	<key>API_KEY</key>
	<string>AIzaSyB1EkCqVeKPrRGulUSkpPH0l59yQRGI6Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>759447536480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RubenGarcia.PokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-fbfe8</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-fbfe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:759447536480:ios:6beeab8f2483c49f</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-fbfe8.firebaseio.com</string>
</dict>
</plist>